@font-face {
	font-family: Raleway;
	src: url("Raleway-VariableFont_wght.ttf") format("ttf"), url("Raleway-Italic-VariableFont_wght.ttf") format("ttf");
}
body{
	font-family: Raleway;
}
.header {
	display: flex;
	justify-content: space-between;
}
ul {
	list-style-type: none;
}
footer {
	display: flex;
	flex-direction: row;
}
.Hebergement {
	display: flex;
	justify-content: space-between;
}

